.blog_content h1,
.blog_content h2,
.blog_content h3,
.blog_content h4,
.blog_content h5,
.blog_content h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-block-end: 1rem;
  margin-block-start: 0.5rem;
}

.blog_content h1 {
  font-size: 2.5rem;
}
.blog_content h2 {
  font-size: 2rem;
}
.blog_content h3 {
  font-size: 1.75rem;
}
.blog_content h4 {
  font-size: 1.5rem;
}
.blog_content h5 {
  font-size: 1.25rem;
}
.blog_content h6 {
  font-size: 1rem;
}

.blog_content p {
  margin-block-end: 0.9rem;
  margin-block-start: 0;
}

.blog_content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.blog_content pre {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

.blog_content a {
  background-color: #fff0;
  color: #c36;
  text-decoration: none;
}

.blog_content a:active,
.blog_content a:hover {
  color: #336;
}

.blog_content a:not([href]):not([tabindex]),
.blog_content a:not([href]):not([tabindex]):focus,
.blog_content a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

.blog_content a:not([href]):not([tabindex]):focus {
  outline: 0;
}

.blog_content abbr[title] {
  border-block-end: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.blog_content b,
.blog_content strong {
  font-weight: bolder;
}

.blog_content code,
.blog_content kbd,
.blog_content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.blog_content small {
  font-size: 80%;
}

.blog_content sub,
.blog_content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.blog_content sub {
  bottom: -0.25em;
}

.blog_content sup {
  top: -0.5em;
}

.blog_content img {
  border-style: none;
  height: auto;
  max-width: 100%;
  width: auto;
  display: block;
}

.blog_content details {
  display: block;
}

.blog_content summary {
  display: list-item;
}

.blog_content figcaption {
  color: #333;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
}

.blog_content [hidden],
.blog_content template {
  display: none;
}

@media print {
  .blog_content *,
  .blog_content :after,
  .blog_content :before {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  .blog_content a,
  .blog_content a:visited {
    text-decoration: underline;
  }

  .blog_content a[href]:after {
    content: " (" attr(href) ")";
  }

  .blog_content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .blog_content a[href^="#"]:after,
  .blog_content a[href^="javascript:"]:after {
    content: "";
  }

  .blog_content pre {
    white-space: pre-wrap !important;
  }

  .blog_content blockquote,
  .blog_content pre {
    -moz-column-break-inside: avoid;
    border: 1px solid #ccc;
    break-inside: avoid;
  }

  .blog_content thead {
    display: table-header-group;
  }

  .blog_content img,
  .blog_content tr {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }

  .blog_content h2,
  .blog_content h3,
  .blog_content p {
    orphans: 3;
    widows: 3;
  }

  .blog_content h2,
  .blog_content h3 {
    -moz-column-break-after: avoid;
    break-after: avoid;
  }
}

.blog_content label {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.blog_content button,
.blog_content input,
.blog_content optgroup,
.blog_content select,
.blog_content textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.blog_content input[type="date"],
.blog_content input[type="email"],
.blog_content input[type="number"],
.blog_content input[type="password"],
.blog_content input[type="search"],
.blog_content input[type="tel"],
.blog_content input[type="text"],
.blog_content input[type="url"],
.blog_content select,
.blog_content textarea {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  width: 100%;
}

.blog_content input[type="date"]:focus,
.blog_content input[type="email"]:focus,
.blog_content input[type="number"]:focus,
.blog_content input[type="password"]:focus,
.blog_content input[type="search"]:focus,
.blog_content input[type="tel"]:focus,
.blog_content input[type="text"]:focus,
.blog_content input[type="url"]:focus,
.blog_content select:focus,
.blog_content textarea:focus {
  border-color: #333;
}

.blog_content button,
.blog_content input {
  overflow: visible;
}

.blog_content button,
.blog_content select {
  text-transform: none;
}

.blog_content [type="button"],
.blog_content [type="reset"],
.blog_content [type="submit"],
.blog_content button {
  -webkit-appearance: button;
  width: auto;
}

.blog_content [type="button"],
.blog_content [type="submit"],
.blog_content button {
  background-color: #fff0;
  border: 1px solid #c36;
  border-radius: 3px;
  color: #c36;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.blog_content [type="button"]:focus:not(:focus-visible),
.blog_content [type="submit"]:focus:not(:focus-visible),
.blog_content button:focus:not(:focus-visible) {
  outline: none;
}

.blog_content [type="button"]:focus,
.blog_content [type="button"]:hover,
.blog_content [type="submit"]:focus,
.blog_content [type="submit"]:hover,
.blog_content button:focus,
.blog_content button:hover {
  background-color: #c36;
  color: #fff;
  text-decoration: none;
}

.blog_content [type="button"]:not(:disabled),
.blog_content [type="submit"]:not(:disabled),
.blog_content button:not(:disabled) {
  cursor: pointer;
}

.blog_content fieldset {
  padding: 0.35em 0.75em 0.625em;
}

.blog_content legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.blog_content progress {
  vertical-align: baseline;
}

.blog_content textarea {
  overflow: auto;
  resize: vertical;
}

.blog_content [type="checkbox"],
.blog_content [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.blog_content [type="number"]::-webkit-inner-spin-button,
.blog_content [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.blog_content [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.blog_content [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.blog_content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.blog_content select {
  display: block;
}

.blog_content table {
  background-color: #fff0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  margin-block-end: 15px;
  width: 100%;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

.blog_content table td,
.blog_content table th {
  border: 1px solid hsl(0 0% 50% / 0.502);
  line-height: 1.5;
  padding: 15px;
  vertical-align: top;
}

.blog_content table th {
  font-weight: 700;
}

.blog_content table tfoot th,
.blog_content table thead th {
  font-size: 1em;
}

.blog_content table caption + thead tr:first-child td,
.blog_content table caption + thead tr:first-child th,
.blog_content table colgroup + thead tr:first-child td,
.blog_content table colgroup + thead tr:first-child th,
.blog_content table thead:first-child tr:first-child td,
.blog_content table thead:first-child tr:first-child th {
  border-block-start: 1px solid hsl(0 0% 50% / 0.502);
}

.blog_content table tbody > tr:nth-child(odd) > td,
.blog_content table tbody > tr:nth-child(odd) > th {
  background-color: hsl(0 0% 50% / 0.071);
}

.blog_content table tbody tr:hover > td,
.blog_content table tbody tr:hover > th {
  background-color: hsl(0 0% 50% / 0.102);
}

.blog_content table tbody + tbody {
  border-block-start: 2px solid hsl(0 0% 50% / 0.502);
}

@media (max-width: 767px) {
  .blog_content table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .blog_content table table {
    font-size: 0.8em;
  }

  .blog_content table table td,
  .blog_content table table th {
    line-height: 1.3;
    padding: 7px;
  }

  .blog_content table table th {
    font-weight: 400;
  }
}

.blog_content dd,
.blog_content dl,
.blog_content dt,
.blog_content li,
.blog_content ol,
.blog_content ul {
  background: #fff0;
  border: 0;
  font-size: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 1rem;
  outline: 0;
  vertical-align: baseline;
}