@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable Tailwind utilities and preflight inside */
.not-tailwind, 
.not-tailwind * {
  all: unset;       /* removes all inherited styles */
  display: revert;  /* restore browser default */
  font-family: revert;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-layout {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.why-choose-us-bg-img {
  position : relative;
  background-image: url("/invisiblegrill.png");
  background-size: cover;
  background-position: center;
}

.why-choose-us-bg-img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}

@media screen and (max-width : 767px) {
  .container-layout {
    width: 90%;
  }
}

.grid-col-1-3 {
  /* grid-column: 1 / 3; */
  /* grid-column: 2; */

  grid-column: 1 / span 2;
  grid-row: 1;
}

.linkStyle {
  color: rgb(32, 180, 238);
  font-weight: 600;
}

.logo-drop-shdow {
  filter: drop-shadow(0 0 0.75rem #EF5A6F);
}